.caption h1 {
    /* font-size: 16px; */
    /* margin-top: 10px; */
    color: rgb(241, 245, 248);
}

.caption {
    /* font-size: 16px; */
    /* margin-top: 10px; */
    color: rgb(231, 236, 241);
}

p {
    /* font-size: 16px; */
    /* margin-top: 10px; */
    color: aliceblue;
}

/* .caption{
    margin-top: -50px;
} */